*{box-sizing: border-box; margin: 0; padding: 0; list-style: none; color:#1E2F3A; font-size: 1em; font-family: 'Raleway', sans-serif;}
.shadow{
	-webkit-box-shadow: 1px 4px 25px -12px rgba(0,0,0,1);
	-moz-box-shadow: 1px 4px 25px -12px rgba(0,0,0,1);
	box-shadow: 1px 4px 25px -12px rgba(0,0,0,1);
	width: 900px;
	margin: 0 auto;
}
.container-first{
	background-image: linear-gradient(to bottom,#1E2F3A,white,white,white,white);
}
.container-first .bloco-header{
	display: inline-flex;
}
.container-first img{
	margin-top: 9.5%;
	margin-left: 2%;
	width: 240px;
	height: 210px;
	border-top-left-radius: 15%;
	border-bottom-left-radius: 15%;
	border: 6px solid #1E2F3A; 
}
.container-first h1{
	width: 240px;
	height: 40px;
	font-size: 2em;
	margin-left: 2%;
	margin-top: 9%;
	text-transform: uppercase;

}
.container-first p{
	width: 550px;
	margin-top: 13%;
	font-size: 1.5em;
	margin-left: -24%;
}
/*main*/
.container-second{
	border-bottom: 10px solid #1E2F3A;
}
.container-second table{
	width: 100%;
	font-size: 1.5em;
	padding: 15% 0;
}
.container-second table td{
	text-align: center;
}
.container-second .bloco-one{
	display: inline-block;
	width: 100%;
	font-size: 1.5em;
	border-top: 10px solid #1E2F3A;
}
section h3{
	font-size: 1.5em;
	text-align: center;
}
.container-second .bloco-one ol,ul{
	text-align: center;
	padding: 3%;
}
.container-second .bloco-one li{
	padding: 1%;
}
/*footer*/
.container-third{
	/*border-top: 10px solid #1E2F3A;*/
	margin-top: 5%;
	padding-bottom: 8%;
	background-image: linear-gradient(to top,#1E2F3A,white,white,white);
}
.container-third h2{
	font-size: 1em;
	text-align: center;
	margin-top: 2%;
}
.container-third .social{
	margin-left: 45%;
	font-size: 1.5em;
}